body {
    margin-bottom: 70px;
    font-family: Arial, sans-serif;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.food-card {
    border: 1px solid #ddd;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.food-img {
    width: 100%;
    max-width: 180px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.cart-item{
    border: 1px solid #ddd;
    padding : 12px;
    margin :10px;
    border-radius :10px
}
.cart-item h3{
    margin-bottom: 6px;
}

cart-item input[type="submit"]{
    margin:4px;
}